#AddProduct{
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 40px;
}

button {
    background-color: #476f95;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #194a7a;
}
